streamlit==1.32.0
pytube==15.0.0
whisper==1.1.10
ffmpeg-python==0.2.0
opencv-python-headless==4.8.0
keybert==0.8.0
torch==2.2.0
tqdm==4.66.0
transformers==4.37.0
scikit-learn==1.4.0
sentence-transformers==2.5.0
